casa-popular-app/.DS_Store
casa-popular-app/node_modules
casa-popular-app/dist

# local env files
casa-popular-app/.env.local
casa-popular-app/.env.*.local

# Log files
casa-popular-app/npm-debug.log*
casa-popular-app/yarn-debug.log*
casa-popular-app/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
